@import './colors';

@mixin flex-direction ($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin dropping-nav-container() {
    align-items: center;
    display: flex;
    height: 100%;

    &:hover {
        color: $yellow;

        div {
            display: block;
        }

        .arrow {
            transform: rotate(180deg);
            padding-left: 0;
            padding-right: 5px;
            padding-top: 16px;
        }
    }

    &-element {
        height: 100%;
    }
}

@mixin hover-nav-container() {
    display: none;
    margin-top: 60px;
    position: fixed;
    width: 100%;
    z-index: 2;

    &:hover {
        display: block;
    }
}

@mixin nav-hover () {
    background-color: black;
    border-radius: 0.3em;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    font-family: $noto-regular;
    list-style-type: none;
    margin-top: -22px;
    padding: 2em 1em 0 1em;
    position: absolute;
    z-index: 0;

    &:hover {
        display: block;
    }

    &__item {
        padding-bottom: 30px;

        &:hover {
            color: $yellow;
            display: block;
        }
    }
}

@mixin nav-arrow(){
    font-size: 0.5em;
    height: 100%;
    padding: 14px 0px 0px 5px;
}